@{
    /**/

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web.Models.Entity
<link href="~/Content/Css/ReactToastify.min.css" rel="stylesheet" />

<div class="box box-info factor-view">
    <div id="factorContext">

    </div>


    <div id="addFactoeDetailModal" class='modal fade' role="dialog">

    </div>

    <div id="removeFactoeDetailModal" class='modal modal-danger fade in' role="dialog">

    </div>




</div>


<script src="~/Scripts/React/dist/factorbundle.js"></script>
